{
  "extends": ["plugin:react/recommended", "standard", "plugin:import/warnings", "plugin:import/errors"],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ignorePath": ".gitignore",
  "rules" : {
    "no-new-func": 0
  }
}
