<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ElectronTeamID</key>
  <string>8SEPFSC7S3</string>
  <key>CFBundleIdentifier</key>
  <string>me.dutour.mathieu.kayero</string>
  <key>CFBundleDocumentTypes</key>
  <array>
  	<dict>
  		<key>CFBundleTypeExtensions</key>
  		<array>
  			<string>md</string>
  			<string>MD</string>
  		</array>
  		<key>CFBundleTypeIconFile</key>
  		<string></string>
  		<key>CFBundleTypeName</key>
  		<string>MD</string>
  		<key>CFBundleTypeRole</key>
  		<string>Editor</string>
  		<key>LSHandlerRank</key>
  		<string>Alternate</string>
  	</dict>
  </array>
</dict>
</plist>
