$background-col: #fff;
$text-black: #444;
$text-grey: #646464;
$text-light: #999;
$background-grey: #eee;
$background-dark-grey: #ddd;

$size-sm: 35.5em;
$size-md: 48em;
$size-lg: 64em;
$size-xl: 80em;

@mixin respond-to($size) {
  @media only screen and (min-width: $size) { @content; }
}

@mixin block-border {
  border: 1px dashed $text-light;
}
