@import 'base';

.save-dialog {

  .close-button {
    float: right;
    margin-top: 0.75em;
    margin-right: 0.25em;
    cursor: pointer;
  }

  .export-option,
  .clipboard-button {
    @include block-border;
    font-family: 'Amaranth', sans-serif;
    padding: 0.25em;
    cursor: pointer;
    display: inline-block;

    &.selected {
      @include block-border;
      font-weight: bold;
      color: $text-black;
      border: 1px dashed $text-black;
      cursor: default;
    }
  }

  textarea {
    height: 400px;
    box-sizing: border-box;
  }

  .export-option {
    margin-top: 0.5em;
    margin-right: 0.5em;
    color: $text-light;
  }

  .clipboard-button {
    font-weight: bold;
    float: right;
  }

  input {
    @include block-border;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    display: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    outline: none;
    cursor: text;
  }

  .pure-g {
    margin-top: 0.75em;
    p {
      font-family: 'Amaranth', sans-serif;
    }
  }

  p {
    clear: both;
  }

}
