@import 'base';

body {
  background: $background-col;
  color: $text-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  @include respond-to($size-md) {
    font-size: 1.2em;
  }
}

.title-field {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  border: 0;
  outline: none;
  color: $text-black;
  width: 100%;
  margin-top: 40px;
}

.editor-buttons {
  float: right;
  margin-bottom: 1px; // Fixes overlap bug on Safari
  margin-top: -0.2em; // Account for font size difference
  i {
    margin-left: 0.25em;
    cursor: pointer;
  }
}

.CodeMirror-dialog-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 15px;

  input {
    outline: none;
    border: 0;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8em;
}

.offset-col {
  display: none;

  @include respond-to($size-md) {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dashed $text-light;
  font-weight: bold;
  color: $text-black;
}

a:visited {
  color: inherit;
}

img {
  max-width: 100%;
}

pre,
.codeBlock,
.resultBlock,
.graphBlock {
  overflow: auto;
  padding: 0.5em;
}

.codeContainer {
  margin: 1em 0;

  pre {
    padding: 0;
    border: none;
    overflow: auto;
    margin: 0;
  }
}

.footer {
  padding-bottom: 1.5em;
}
