.graphBlock,
.resultBlock {
  border-top: none;
}

.graphBlock > * {
  margin: 0 auto;
}

.graphBlock:empty {
  display: none;
}

.graphBlock svg {
  width: 100%;

  &.nvd3-svg {
    height: inherit;
  }

  text {
    fill: $text-black;
  }
}

.resultBlock {
  background-color: $background-grey;
}

.visualiser {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
  white-space: pre;
  overflow: auto;

  .visualiser-spacing {
    cursor: default;
  }

  .visualiser-arrow {
    cursor: pointer;
  }

  .visualiser-row {
    display: inline-block;
  }

  .export-to-csv {
    float: right;
    cursor: pointer;
  }
}
